<template name="header">

    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">
          <img alt="logo" src="/images/logo2.png" class="logo">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{pathFor 'about'}}">About Meteor Club</a></li>
            <li><a href="{{pathFor 'learn'}}">Learn Meteor</a></li>
            <li><a href="{{pathFor 'testing'}}">Test Meteor</a></li>
            <!-- <li><a href="{{pathFor 'questions'}}">Ask Questions</a></li> -->
          </ul>
      </div>
    </div>
  </nav>

</template>
