<template name="learn">

<div class="container-fluid learn">
	<div class="row hero one">
		<div class="col-md-8 col-md-offset-2">
			<h1>Are you ready to blast your web apps out of this world?</h1>
		</div>
	</div>
</div>

<div class="container learn">
	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>Announcing the Mastering Meteor.js class.</h2>
			<p>Ok, all cheesiness aside. You're overwhelmed. Maybe you just installed Meteor.js and created a new project. But where do you go after that? Where can you find info or tutorials to help get you started? The answer isn't always obvious.</p>

			<p>That's why I've built a Meteor.js class curriculum that walks you through building an app from start to finish. I know what it's like to hit a wall when you’re trying to get started with learning something new. I've been there.</p>

			<div class="well">
				<i class="fa fa-3x fa-rocket"></i>
				<p><strong>Mastering Meteor.js</strong> is a comprehensive, multi-session online class that walks you through building a Meteor.js app from scratch in just 8 hours.</p>
			</div>

			<p>What's really special about this class is that it's not pre-recorded or heavily scripted. It's live. It's real. Just like <em>real life</em> application development.</p>

		</div>
	</div>

	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>Not sure where to go next with Meteor.js?</h2>
			<p>Let me guess, you watched the intro videos showing off Meteor, but like the "Creating a Weblog in 15 Minutes" video for Rails, it was a short demo that left you with few instructions on how to proceed, leaving you to fend for yourself with tutorials and Stack Overflow.</p>

			<p>While the Meteor community is great, it can suck to get in IRC and ask questions only to <strong>get crickets in response</strong>. Posting to Stack Overflow is always a gamble too&mdash;will someone be kind enough to follow up? Is a true expert replying to your questions?</p>
		</div>

	</div>

	<div class="row section testimonials">
		<div class="row">
			<div class="col-md-12">
				<h3>Here's what my students are saying about Mastering Meteor.js:</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="testimonial">
					<p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; The ability to see how the code was developed, in a real world, step-by-step process, combined with the ability to play with that code and have it as a reference makes [the class] great resource for a long time to come.</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="testimonial">
					<p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; I liked the real-world view of application development, with references to the docs, the source of packages, and stack overflow. I personally went over the code we wrote in class and rewrote it, which I found helpful.</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="testimonial">
					<p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; I definitely learned a good deal about building an application on the server side of Meteor, which was the part of Meteor I was struggling with. I especially liked your approach of handling data in the backend, something I didn't really consider before.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>I'm offering you the guidance I needed two years ago.</h2>
			<p>Looking back at the first app I built in Meteor, it's clear how little I understood about the platform. But after spending 15 months building <a href="#">over 40 apps for clients</a>, I've learned a lot about the ins and outs of what makes Meteor great.</p>

			<p>When I started, I didn't know how to properly organize my files or how best to handle a compound join publication while making it reactive. My code was littered with session variables and if statements because I didn’t understand how real-time reactive code worked. Over time, my code improved, but I still wish someone was there to guide me. And now that I've been through it, I can guide you.</p>
		</div>
	</div>

	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>So what will you learn in the class?</h2>

			<p>This comprehensive course is designed to teach you how to build a meteor app from scratch. Follow along in a fish-bowl style pairing session where you get to listen and watch as the instructor builds a reactive twitter clone. Learn by asking questions and understanding concepts and then dive into home. Some of the concepts we cover are:</p>

			<ul>
				<p>Specifically, you will learn how to:</p>
				<li>organize your files</li>
				<li>build database collections</li>
				<li>hook up publications and subscriptions</li>
				<li>handle accounts packages</li>
				<li>add permissions to data</li>
				<li>write reactive front-end code</li>
				<li>create advanced reactive join publications</li>
				<li>and more!</li>
			</ul>

			<p>If you're tired of browsing the web for tutorials or reading through countless Stack Overflow posts to find the exact answer you need, then it's time to start mastering meteor.</p>
		</div>
	</div>

	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>In hours, you'll gain the skills you need to build your own Meteor apps from scratch.</h2>
			<p>I won't just talk about the features of Meteor.js, I'll show you how to build each part of an app. The online class is kept intentionally small, with only 10 students per session, so that we can stop and talk about what we are building and why we approach the code that way.</p>

			<div class="well">
				<i class="fa fa-3x fa-rocket"></i>
				<p>You will walk away from this class understanding the core concepts of Meteor.js and how to put them to use <strong>building your own reactive web apps</strong>.</p>
			</div>

			<p>My goal isn't just to teach you how to build one Meteor app. I want to give you the tools and know-how to build <em>dozens</em> of apps. This is your chance to gain practical real-world knowledge of Meteor.js.</p>
		</div>
	</div>

	<div class="row section whoami">
		<div class="col-sm-3 col-md-3 center-block">
			<img src="/images/josh.png" class="josh-stamp" alt="">
		</div>

		<div class="col-sm-9 col-md-9">
			<h2>Who am I, anyway?</h2>
			<p class="clean">I'm Josh Owens, proprietor of <a href="http://crater.io" target="_blank">Crater.io</a>, host of <a href="http://www.meteorpodcast.com" target="_blank">Meteor Podcast</a>, and open source czar that helped create over 10 Meteor packages and 40 apps in 12 months. I'm also the author of <a href="http://www.testingmeteor.com">Testing with Meteor</a> and part of the <a href="http://differential.com/blog/what-is-velocity" target="_blank">Velocity</a> core team, helping to make testing more practical with Meteor.</p>

			<p>When I'm not writing, podcasting, or teaching then you can find me running the Cincinnati Meteor meetup or helping people out with Meteor.js over Airpair.</p>
		</div>
	</div>

	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>Space is limited.</h2>
			<p>Now is the time to quit wishing you had the time or resources to learn Meteor and take this opportunity to level up your app building skills! In designing this course I was determined to create a lean timeline packed with the information you needed to hit the ground coding.</p> 

			<p>I guarantee this will be a hands-on experience where you will learn and have the opportunity to ask the questions that matter to you, or your money back. <strong class="love">That’s right, love it or get your money back.</strong> There’s no risk except for missing out on the next session.</p>

			<h3>With only ten seats available on a first-come/first-serve basis, you won’t want to wait. The tuition for the class and all the focused attention you get is <strong>only $499</strong>.</h3>

			<ul>
				<p>You will also receive:</p>
				<li>8 hours of interactive discussion and instruction using Google hangout</li>
				<li>A recording of your live class so you can refer back to it in the future</li>
				<li>Access to the Github repo that has the app we built in class</li>
				<li>A FREE copy of The Discover Meteor book by Sacha Greif &amp; Tom Coleman</li>
				<li>Access to the alumni mailing list where myself and other mentors are around to help</li>
			</ul>
		</div>
	</div>

	<div class="row section" style="margin-bottom: 130px;">
		<div class="col-md-8 col-md-offset-2">
			<h2>Alright, I want in!</h2>
			<p><strong>Standard:</strong> 4 sessions at 2 hours each. The next sessions take place November 13th, 14th, 20th, and 21st from 2pm-4pm EST. <strong>Weekend Warrior:</strong> 2 sessions at 4 hours each. The next sessions take place November 1st and Nov. 8th from 10am-2pm EDT.</p>

			<p>To secure your spot, just add your email and click the button. Let's make a little meteor magic together.</p>

		</div>
	</div>
	<!-- <div class="row section class-signup">
		<div class="hidden-xs col-sm-3 col-md-2 col-md-offset-2">
			<img src="/images/meteor_circle2.png" alt="">
		</div>
		<div class="col-sm-9 col-md-6">
			<form class="form" role="form">
			  	<div class="form-group">
				  <label class="sr-only" for="exampleInputPassword2">Name</label>
				  <input type="name" class="form-control" name="fullName" required id="exampleInputname2" placeholder="joe developer">
				</div>
				<div class="form-group">
				  <label class="sr-only" for="exampleInputEmail2">Email address</label>
				  <input type="email" class="form-control" name="email" required id="exampleInputEmail2" placeholder="joe.developer@hotstartup.com">
				</div>
        		<input type="hidden" name="referrer" id="referrer">

				<button type="submit" class="btn btn-primary">Beam me up, Scotty!</button>
			</form>
		</div>
	</div> -->
</div>

<div class="footer-signup">
	<div class="footerbutton">Ready to Master Meteor? &nbsp; <i class="fa fa-angle-down"></i></div>
    <div class="slide-content">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4">
	    			<p style="line-height: 1.7;"><i class="fa fa-rocket"></i>&nbsp; <strong>Master Meteor.js today.</strong><br>Lorem ipsum dolor sit amet praesentium, odit, dolores! Iste laboriosam autem.</p>
	    		</div>
				<div class="col-md-8">
					<form class="form-inline" role="search">
						<div class="form-group">
						  <label class="sr-only" for="exampleInputPassword2">Name</label>
						  <input type="name" class="form-control" name="fullName" required id="exampleInputname2" placeholder="joe developer">
						</div>
						<div class="form-group">
						  <label class="sr-only" for="exampleInputEmail2">Email address</label>
						  <input type="email" class="form-control" name="email" required id="exampleInputEmail2" placeholder="joe.developer@hotstartup.com">
						</div>
						<input type="hidden" name="referrer" id="referrer">
						<button type="submit" class="btn btn-primary">Sign Up!</button>
					</form>
				</div>
    		</div>
	    </div>
    </div>
</div>
</template>
