@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic,300italic")

roboto = "Roboto", sans-serif;

*
  margin 0
  padding 0

html 
    position relative
    min-height 100%

body 
  margin 0 0 55px /* bottom = footer height */
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility

footer, .push
  height 2em

img
  max-width 100%
  
/* * *
00 BASIC TYPOGRAPHY  -------------------------------------------------------
* * */

a
  color #547ed3
  
.btn
  font-family roboto
  font-size 20px
  padding 11px 20px
  font-weight 700
  letter-spacing 1px

  // default purple button
  &.btn-primary
    background-color darken(#a685bd, 5%)
    border 0
    margin-top 3px

    &:hover
      background-color darken(#a685bd, 15%) 
      -webkit-transition background .1s ease-in-out
      transition background .1s ease-in-out

h1,
h2,
h3,
h4,
h5,
h6
  font-family roboto

  &.clean
    margin 0 !important

h1
  color #333
  line-height 1.3
  font-size 32px
  font-weight 700

p
  line-height 1.75
  font-family roboto
  font-size 16px
  color #555
  margin-top 20px

  &.clean
    margin 0

ul
  line-height 1.75
  font-family roboto
  font-size 16px
  color #555
  margin 20px 0 0 40px

  li
    margin 10px 0
  
/* * *
01 HEADER & FOOTER ---------------------------------------------------------
* * */

.navbar
  background-color #fff
  opacity .4
  font-family roboto
  text-transform lowercase
  font-weight 700
  border-radius 0
  -moz-border-radius 0
  -webkit-border-radius 0
  border none
  margin-bottom 0

.navbar, .navbar-default
  min-height 80px
  
  .navbar-toggle
    margin-top 22px
    margin-bottom 25px

  li a
    color #bbb
    margin 0 !important
    padding 8px 20px
    -webkit-border-radius 20px
    -moz-border-radius 20px
    border-radius 20px
    margin 14px 15px 0 !important
    font-size 14px

    &:hover
      // important to override bootstrap styles
      background-color #f2f2f2 !important
      -webkit-transition background .1s, color .1s ease-in-out
      transition background .1s, color .1s ease-in-out
      color #111
    
.footer-signup
    border-top 3px solid #404286
    position fixed
    bottom 0
    width 100%
    background #fff
    z-index 1000
    
    .navbar-form
      margin 25px 0
    
  &.footerbutton
    position  absolute
    background #404286
    border-top-right-radius 3px
    border-top-left-radius 3px
    top  -42px
    right 3%
    font-size 18px
    font-family roboto
    color white
    padding 9px 15px 7px
    border  none
    cursor  pointer
  
  &.slide-content
    width 100%
    height 0px
    background-image url('/images/bg9.jpg')
    background-position 80% 50%
    background-repeat no-repeat
    background-size cover
    border none
    font-family roboto
    
    input[type=name], input[type=email]
      height 50px
      margin 3px 10px 0 0
      font-size 16px
      border none
      width 100%
    
    p
      color #fff
      margin-top 35px
      line-height 1.6
      font-size 18px
    
    button
      width 100%
      font-weight 500
      background #404286 !important
    
    .form-inline
      margin-top 35px
    
    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px) 
      input[type=name], input[type=email]
        height 40px
        margin 3px 5px 0 0
        font-size 14px
        border none
      input[type=name]
        width 120px
      input[type=email]
        width 220px 
      button
        width 110px
        height 40px
        font-size 14px
      p
        color #fff
        line-height 1.3
        font-size 14px
    
    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width: 992px)
      input[type=name], input[type=email]
        height 50px
        margin 3px 10px 0 0
        font-size 18px
        border none
      input[type=name]
        width 170px
      input[type=email]
        width 260px 
      button
        width 150px
        height 50px
        font-size 18px
      p
        line-height 1.6
        font-size 16px

    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px)
      input[type=name]
        width 210px
      input[type=email]
        width 350px 
      button
        width 150px
      p
        line-height 1.6
        font-size 18px

.test-width
  width 200px
  
  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) 
    width 1000px

.navbar-brand img
  height 41px

footer
  position absolute
  left 0
  bottom 0
  width 100%
  background-color #f2f2f2
  height 55px
  bottom 0
  
  p
    font-size 13px
    margin-bottom 10px
    
/* * *
01 HOME --------------------------------------------------------------------
* * */

.podcast-hero
  margin 0
  height 400px
  background-image url('../images/raw-bg2.jpg')
  background-size cover
  background-position 90% 55%
  padding 30px 0 10px
  // position relative
  
  .container
    position relative
    height 100%
  
  .latest-episode
    position absolute
    bottom 10px
    left 15px
    color white
    font-size 15px
    text-transform uppercase
    letter-spacing 1px
  
  span.tagline
    font-style oblique
    color white
    opacity .7
    font-size 16px
    
    a
      opacity .9 !important
      color white

  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width 768px)
    height 500px
    padding 45px 0

  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width 992px)
    height 470px 
    padding 80px 0

  /* Large devices (large desktops, 1200px and up) */
  @media screen and (min-width 1200px)
    height 500px 
    padding 140px 0 0

  h1
    font-size 28px
    color white

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width 768px)
      font-size 32px

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width 992px)
      font-size 32px 

    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width 1200px)
      font-size 48px

  p
    color darken(white, 25%)

  .sub-form
    margin 0

    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width 1200px)
      margin 20px 0

.podcast-play
  background-color #eee
  height 70px
  padding 25px 0
  
  h1,h2,h3,h4,h5,h6,p
    margin 0
  
  .progress-bar
    background-color #ddd
    border-radius 20px 20px 20px 20px  
    overflow hidden  
    position absolute  
    left 65px
    top 6px
    width 850px 
    height 10px 
    -webkit-box-shadow 0 1px 1px 0 rgba(0,0,0,0.2) inset  
    box-shadow 0 1px 1px 0 rgba(0,0,0,0.2) inset 
    
  .volume-bar
    position absolute
    right 10px  
    top 6px  
    width 45px  
    height 8px  
    border-radius 20px 20px 20px 20px  
    -webkit-box-shadow 0 1px 1px 0 rgba(0,0,0,0.1) inset  
    box-shadow 0 1px 1px 0 rgba(0,0,0,0.1) inset  
    background-color #992E18  
    overflow hidden
  
  span.play
    font-size 28px
    position relative
    bottom 9px
    left 0 !important
    margin 0 !important
    padding 0
    display inline
    color #555
  
  span.option
    font-size 15px
    text-transform uppercase
    display inline
    margin 0 20px 0
    
    &:first-child
      margin 0 0 0

.spotlight-details
  margin 60px 0 0
  span.date
    margin 0
  h3
    margin 7px 0
  p
    margin 0
  .placeholder-image
    background #eee
    width 200px
    height 200px
    border-radius 50%
  span.date
    font-size 15px
    color #888
    text-transform uppercase
    letter-spacing 1px
      
.resources
  margin 30px auto 120px

  .title
    margin-bottom 30px !important
    h1
      text-transform lowercase
  
  i
    font-size 48px
    position relative
    top 4px
    opacity .3
    color #232438

  h3
    margin-top 0

  .row
    margin-bottom 0

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width 992px)
      margin-bottom 50px
  

    &:last-child
      margin-bottom 0
  
  a.resource
    -webkit-border-radius 10px
    -moz-border-radius 10px
    border-radius 10px
    display block
    padding 20px 10px
    &:hover
      background-color #f2f2f2
      transition background .2s ease-in-out
  
    h3
      color #333
  
    p
      color #555
  
    .icon
      text-align center
  
    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width 992px)
      padding 30px 20px

   
.social-links
  margin-top 40px
  a
    color #615082
    background-color white
    -webkit-border-radius 25px
    -moz-border-radius 25px
    border-radius 25px
    display inline-block
    height 50px
    width 50px
    
    &:hover
      background-color #a279b9
      transition background-color .1s
    
    i
      position relative
      top 12px
      &.fa-twitter
        left 13px
      &.fa-youtube-play
        left 11px
      &.fa-github
        left 13px

        

.episode-archive
  margin 0 0 5px
  
  a:hover
    text-decoration none
  
  .episode
    padding 30px 15px
    transition background .2s
    position relative
    border-bottom 1px solid #ddd
  

    span.episode-month, span.episode-description
      margin-top 0
  
    span.episode-title
      color #333
      opacity .5
      margin 0 0 3px 0
      display block
      font-size 15px
      
    span.episode-month
      font-size 24px
      margin 5px 0 7px 0
      display block
      color #3a3b47

    span.episode-description
      line-height 1.75
      font-family roboto
      font-size 16px
      color #555
    
    .video-thumbnail
      width 100%
      border-radius 5px
      margin 0 0 20px 0
      
      /* Small devices (tablets, 768px and up) */
      @media screen and (min-width: 768px) 
        margin 0

.meteor-club
  margin 20px 0 60px

.pagination
  padding 0 30px


/* TRANSCRIPTION PAGE */  
.transcription
  padding 40px 0 80px
  
  .embed-responsive
    margin 20px 0 60px 0
    border 3px solid #000
    border-radius 5px


/* * *
06 OPEN SOURCE -------------------------------------------------------------
* * */
      
.about-package
   margin 80px auto 150px
  
   ul.package-nav
     list-style-type none
     margin 0
     padding 0
     
     li
       padding 5px 12px
       border-radius 5px
       
       &.active
         background-color #f2f2f2        


/* * *
05 MISC --------------------------------------------------------------------
* * */

// heroes
.hero
  h1, h2, h3, h4, h5, h6
    color white
  &.one
    padding 50px 0 80px
    background-image url('../images/bg6.jpg')
    background-size cover
    background-position 20% 80%
    color white
    text-align center 

    h1, h2, p
      color white
    
    &.alt
      background-image url('../images/bg7.jpg')
  &.two
    padding 80px 0 85px
    background-image url('/images/bg5.jpg')
    background-position 80% 50%
    background-repeat no-repeat
    background-size cover
    margin 0

    h1, h2
      margin 60px 0 0
      font-size 42px

      /* Medium devices (desktops, 992px and up) */
      @media screen and (min-width 992px)
        margin 0

      /* Large devices (large desktops, 1200px and up) */
      @media screen and (min-width 1200px)
        margin 20px 0  

    h4
      font-weight 700

    p
      color #b9bacb
      
      a
        color white

    span.version
      font-weight 700
      display block
      color white
      font-size 18px
      margin 0 0 20px 0
    
    .embed-responsive iframe
      border 4px solid #000
      border-radius 5px
    
    .btn-default
      border 0
      margin-top 3px
  
  // alt background for opensource package page
  &.opensource
    background-image url('../images/bg7.jpg') !important

// wells
.well
  margin 40px 0
  background-color #232438 !important
  border none !important

  p
    margin 0
    color white !important
    font-weight 500
    
  .fa
    float left
    margin 0 25px 0 5px
    color white
    opacity .3
    position relative
    top 8px
  
  a
    color #afb0c0
    text-decoration underline


// thank you styles
.thanks
  padding 160px 0
  text-align center

  h2 
    line-height 1.4
  i
    opacity .2


.center-block
  display block
  margin 0 auto
  text-align center
  

// email capture usable anywhere
.email-subscribe
  margin-top 50px
  padding-top 30px
  border-top 1px solid #ddd
  
  .subscribe-form
    margin-top 40px

  .form-control
    padding 24px 15px
    font-size 20px
    font-family roboto

  .radio
    margin-top 3px
    font-size 14px
    font-family roboto

    input[type=radio]
      margin-top 12px
      padding-right 10px

    .radio-question
      margin 0
      width 100%
      padding 6px 10px 5px
      -webkit-border-radius 5px
      -moz-border-radius 5px
      border-radius 5px
      display inline-block
      min-height 50px 

      span
        display inline-block
        margin 10px 0 0 5px
        line-height 1.2 

        /* Medium devices (desktops, 992px and up) */
        @media screen and (min-width 992px)
          margin 3px 0 0 5px
      
      &:hover
        opacity .6
        -webkit-transition opacity .2s ease-in-out
        transition opacity .2s ease-in-out

/* 
 * BOOTSTRAP AUTO-WRAP COLUMN FIX
 *
 *
 */

/*  Tablet  */
@media handheld, screen and (min-width: 768px)
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1)
    clear none
  
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear left

/*  Medium Desktop  */
@media handheld, screen and (min-width: 992px)
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear none

  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1)
    clear left

/*  Large Desktop  */
@media handheld, screen and (min-width:1200px)
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear none

  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1)
    clear left