@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic,300italic")

roboto = "Roboto", sans-serif;

*
  margin 0
  padding 0

html 
    position relative
    min-height 100%

body 
  margin 0 0 55px /* bottom = footer height */
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility

footer, .push
  height 2em

img
  max-width 100%
  
/* * *
00 BASIC TYPOGRAPHY  -------------------------------------------------------
* * */

a
  color #547ed3
  
.btn
  font-family roboto
  font-size 20px
  padding 11px 20px
  font-weight 700
  letter-spacing 1px

  // default purple button
  &.btn-primary
    background-color darken(#a685bd, 5%)
    border 0
    margin-top 3px

    &:hover
      background-color darken(#a685bd, 15%) 
      -webkit-transition background .1s ease-in-out
      transition background .1s ease-in-out

h1,
h2,
h3,
h4,
h5,
h6
  font-family roboto

  &.clean
    margin 0 !important

h1
  color #333
  line-height 1.3
  font-size 32px
  font-weight 700

p
  line-height 1.75
  font-family roboto
  font-size 16px
  color #555
  margin-top 20px

  &.clean
    margin 0

ul
  line-height 1.75
  font-family roboto
  font-size 16px
  color #555
  margin 20px 0 0 40px

  li
    margin 10px 0
  
/* * *
01 HEADER & FOOTER ---------------------------------------------------------
* * */

.navbar
  background-color #fff
  font-family roboto
  text-transform lowercase
  font-weight 700
  border-radius 0
  -moz-border-radius 0
  -webkit-border-radius 0
  border none
  margin-bottom 0

.navbar, .navbar-default
  min-height 80px
  
  .navbar-toggle
    margin-top 22px
    margin-bottom 25px

  li a
    color #bbb
    margin 0 !important
    padding 8px 20px
    -webkit-border-radius 20px
    -moz-border-radius 20px
    border-radius 20px
    margin 14px 15px 0 !important
    font-size 14px

    &:hover
      // important to override bootstrap styles
      background-color #f2f2f2 !important
      -webkit-transition background .1s, color .1s ease-in-out
      transition background .1s, color .1s ease-in-out
      color #111

.navbar-brand img
  height 41px

footer
  position absolute
  left 0
  bottom 0
  width 100%
  background-color #f2f2f2
  height 55px
  bottom 0
  
  p
    font-size 13px
    margin-bottom 10px
    
/* * *
01 HOME --------------------------------------------------------------------
* * */

.email-capture
  margin 0 0 20px 0
  height 500px
  background-image url('../images/bg-test3.jpg')
  background-size cover
  background-position 0 50%
  padding 30px 0

  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width 768px)
    height 500px
    padding 45px 0

  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width 992px)
    height 470px 
    padding 80px 0

  /* Large devices (large desktops, 1200px and up) */
  @media screen and (min-width 1200px)
    height 500px 
    padding 80px 0

  h1
    font-size 28px
    color white

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width 768px)
      font-size 32px

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width 992px)
      font-size 32px 

    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width 1200px)
      font-size 40px

  p
    color darken(white, 25%)

  .sub-form
    margin 0

    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width 1200px)
      margin 20px 0

  .form-control
    padding 24px 15px
    font-size 20px
    font-family roboto

  .btn
    font-family roboto
    font-size 20px
    padding 11px 20px
    font-weight 700
    letter-spacing 1px

    &.btn-primary
      background-color darken(#a685bd, 5%)
      border 0
      margin-top 3px

      &:hover
        background-color darken(#a685bd, 15%) 
        -webkit-transition background .1s ease-in-out
        transition background .1s ease-in-out

  .subscribe-form
    margin-top 20px

    input
      background-color #1d1f2d
      border none

    .radio
      margin-top 3px
      font-size 14px
      font-family roboto
      color white

      input[type=radio]
        margin-top 12px
        padding-right 10px
        color white
        background transparent
        
      .radio-question
        margin 0
        width 100%
        padding 6px 10px 5px
        -webkit-border-radius 5px
        -moz-border-radius 5px
        border-radius 5px
        display inline-block
        min-height 50px 

        span
          display inline-block
          margin 10px 0 0 5px
          line-height 1.2 

          /* Medium devices (desktops, 992px and up) */
          @media screen and (min-width 992px)
            margin 3px 0 0 5px
        
        &:hover
          opacity .6
          transition opacity .2s ease-in-out 
      
    
.resources
  margin 30px auto 120px

  .title
    margin-bottom 30px !important
    h1
      text-transform lowercase
  
  i
    font-size 48px
    position relative
    top 4px
    opacity .3
    color #232438

  h3
    margin-top 0

  .row
    margin-bottom 0

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width 992px)
      margin-bottom 50px
  

    &:last-child
      margin-bottom 0
  
  a.resource
    -webkit-border-radius 10px
    -moz-border-radius 10px
    border-radius 10px
    display block
    padding 20px 10px
    &:hover
      background-color #f2f2f2
      transition background .2s ease-in-out
  
    h3
      color #333
  
    p
      color #555
  
    .icon
      text-align center
  
    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width 992px)
      padding 30px 20px


/* * *
02 ABOUT -------------------------------------------------------------------
* * */

.about-meteorclub
  margin 110px auto 130px
    
.social-links
  margin-top 40px
  a
    color white
    background-color #615082
    -webkit-border-radius 25px
    -moz-border-radius 25px
    border-radius 25px
    display inline-block
    height 50px
    width 50px
    
    &:hover
      background-color #a279b9
      transition background-color .1s
    
    i
      position relative
      top 12px
      &.fa-twitter
        left 13px
      &.fa-youtube-play
        left 11px
      &.fa-github
        left 13px
          
.what-is-meteor
  padding 80px 0 90px
  background-image url('/images/bg5.jpg')
  background-position 80% 50%
  background-repeat no-repeat
  background-size cover
  
  p, h3 
    color white
    
    a
      color #afb0c0
      text-decoration underline
  
  span.meteor-feature
    display inline-block
    white-space nowrap
    background-color #242738
    color white
    padding 5px 10px
    -webkit-border-radius 5px
    -moz-border-radius 5px
    border-radius 5px
    margin 5px 2px
    
    &:hover
      cursor default
      background-color lighten(#242738, 5%)

.about-josh
  margin 60px auto 120px
  padding 0 30px
  
  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) 
    padding 0

// used on learn page as well
.josh-stamp
  width 90%
  margin-top 20px
  max-width 250px


/* * *
03 LEARN -------------------------------------------------------------------
* * */

.learn
  .section
    margin-top 80px
    
    &:first-child
      margin-top 60px
    
    &.small-margin
      margin-top 30px

    &.whoami
      border-top 1px solid #ddd
      border-bottom 1px solid #ddd
      padding 50px 0 70px
  
    &.testimonials
      border-top 1px solid #ddd
      border-bottom 1px solid #ddd
      padding 30px 0 70px

    strong
      font-weight 700

      &.love
        color red
    p
      font-size 18px

    .fa-comments-o
      margin-top 160px
      font-size 130px
      opacity .2
      color #232438

    .testimonial
      margin 15px 0 0
      padding 25px
      background-color #e9edf4
      -webkit-border-radius 5px
      -moz-border-radius 5px
      border-radius 5px

      &:hover
        cursor default
        background-color #d2dbed
        transition background .2s ease-in
    
      p
        font-size 16px
        margin 0
        color #413458    

      i
        opacity .2
        font-size 30px   

      span.name
        display block
        font-size 13px

    .call-out
      line-height 1.5
      font-size 28px
      text-align center
  
    ul
      margin 40px 0 0
      padding 23px 30px 30px
      background #e9edf4
      -webkit-border-radius 10px
      -moz-border-radius 10px
      border-radius 10px
      font-size 16px
      font-family roboto
      line-height 1.75
      color #413458

      p
        margin 0
        padding 0
        font-weight 700
        color #413458
    
      li
        margin-left 60px

    h3
      line-height 1.5

  h1
    font-size 56px

  h2
    color #333
    line-height 1.3
    font-size 32px
    font-weight 700

  .class-signup
    margin 60px auto 60px
    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px)
      form
        padding 0 0 0 20px
        
    img
      width 100%
      margin 10px 0 0
    input
      padding 25px 15px
      font-size 20px
      font-family roboto 

    .btn
      font-family roboto
      font-size 20px
      padding 11px 20px
      font-weight 500

      &.btn-primary
        background-color darken(#a685bd, 5%)
        border 0
        margin-top 3px

        &:hover
          background-color darken(#a685bd, 15%)
          transition background .1s ease-in-out


/* * *
05 QUESTIONS ---------------------------------------------------------------
* * */

.about-qna
  padding 60px 0 0

.guests
  h2
    margin 20px 0 70px
  
  .guest
    margin-bottom 30px
    text-align center
    p
      transition color .2s
      font-weight 700
      margin 15px 0 0
    img
      width 70%
      transition opacity .2s
    
    &:hover
      text-decoration none
        

.episode-archive
  margin 70px 0 40px
  
  a:hover
    text-decoration none
  
  .episode
    padding 30px 15px
    background-color #f2f2f2
    margin-bottom 40px
    transition background .2s
    cursor pointer
    border-radius 5px
    position relative
    
    &:first-child
      margin-top 40px
    
    &:hover
      background-color #eaebf3
      transition background .2s, color .2s
      
      span.episode-title
        color lighten(#1d1f2d, 50%)
        transition color .2s
      
      span.transcript
        background-color darken(#eaebf3, 10%)
    
    span.upcoming-episode, span.transcript
      display none
      position absolute
      padding 12px 16px
      font-size 16px
      transition background .2s
      top 0
      right 0
      border-top-right-radius 5px
      border-bottom-left-radius 5px
      
      /* Small devices (tablets, 768px and up) */
      @media screen and (min-width: 768px)
        display block
    
    span.transcript
      background-color darken(#f2f2f2, 8%)
      color #555

    &.upcoming    
      span.episode-title
        display inline
        color lighten(#1d1f2d, 50%)
        
      span.upcoming-episode
        background-color darken(#42446c, 5%)
        color white

    span.episode-month, span.episode-description
      margin-top 0
  
    span.episode-title
      color lighten(#1d1f2d, 50%)
      margin 0 0 3px 0
      display block
      font-size 15px
      
    span.episode-month
      font-size 30px
      margin 5px 0 7px 0
      display block
      color #3a3b47

    span.episode-description
      line-height 1.75
      font-family roboto
      font-size 16px
      color #555
    
    .video-thumbnail
      width 100%
      border-radius 5px
      margin 0 0 20px 0
      
      /* Small devices (tablets, 768px and up) */
      @media screen and (min-width: 768px) 
        margin 0


/* TRANSCRIPTION PAGE */  
.transcription
  padding 40px 0 80px
  
  .embed-responsive
    margin 20px 0 60px 0
    border 3px solid #000
    border-radius 5px


/* * *
06 OPEN SOURCE -------------------------------------------------------------
* * */
      
.about-package
   margin 80px auto 150px
  
   ul.package-nav
     list-style-type none
     margin 0
     padding 0
     
     li
       padding 5px 12px
       border-radius 5px
       
       &.active
         background-color #f2f2f2        


/* * *
05 MISC --------------------------------------------------------------------
* * */

// heroes
.hero
  h1, h2, h3, h4, h5, h6
    color white
  &.one
    padding 50px 0 80px
    background-image url('../images/bg6.jpg')
    background-size cover
    background-position 20% 80%
    color white
    text-align center 

    h1, h2, p
      color white
  &.two
    padding 80px 0 85px
    background-image url('/images/bg5.jpg')
    background-position 80% 50%
    background-repeat no-repeat
    background-size cover
    margin 0

    h1, h2
      margin 60px 0 0
      font-size 42px

      /* Medium devices (desktops, 992px and up) */
      @media screen and (min-width 992px)
        margin 0

      /* Large devices (large desktops, 1200px and up) */
      @media screen and (min-width 1200px)
        margin 20px 0  

    h4
      font-weight 700

    p
      color #b9bacb
      
      a
        color white

    span.version
      font-weight 700
      display block
      color white
      font-size 18px
      margin 0 0 20px 0
    
    .embed-responsive iframe
      border 4px solid #000
      border-radius 5px
    
    .btn-default
      border 0
      margin-top 3px
  
  // alt background for opensource package page
  &.opensource
    background-image url('../images/bg7.jpg') !important

// wells
.well
  margin 40px 0
  background-color #232438 !important
  border none !important

  p
    margin 0
    color white !important
    font-weight 500
    
  .fa
    float left
    margin 0 25px 0 5px
    color white
    opacity .3
    position relative
    top 8px
  
  a
    color #afb0c0
    text-decoration underline


// thank you styles
.thanks
  padding 160px 0
  text-align center

  h2 
    line-height 1.4
  i
    opacity .2


.center-block
  display block
  margin 0 auto
  text-align center
  

// email capture usable anywhere
.email-subscribe
  margin-top 50px
  padding-top 30px
  border-top 1px solid #ddd
  
  .subscribe-form
    margin-top 40px

  .form-control
    padding 24px 15px
    font-size 20px
    font-family roboto

  .radio
    margin-top 3px
    font-size 14px
    font-family roboto

    input[type=radio]
      margin-top 12px
      padding-right 10px

    .radio-question
      margin 0
      width 100%
      padding 6px 10px 5px
      -webkit-border-radius 5px
      -moz-border-radius 5px
      border-radius 5px
      display inline-block
      min-height 50px 

      span
        display inline-block
        margin 10px 0 0 5px
        line-height 1.2 

        /* Medium devices (desktops, 992px and up) */
        @media screen and (min-width 992px)
          margin 3px 0 0 5px
      
      &:hover
        opacity .6
        -webkit-transition opacity .2s ease-in-out
        transition opacity .2s ease-in-out

/* 
 * BOOTSTRAP AUTO-WRAP COLUMN FIX
 *
 *
 */

/*  Tablet  */
@media handheld, screen and (min-width: 768px)
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1)
    clear none
  
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear left

/*  Medium Desktop  */
@media handheld, screen and (min-width: 992px)
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear none

  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1)
    clear left

/*  Large Desktop  */
@media handheld, screen and (min-width:1200px)
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear none

  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1)
    clear left