@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic,300italic|Droid+Serif:400,400italic")

roboto = "Roboto", sans-serif;
droid = "Droid Serif", serif;

*
  margin 0
  padding 0

html
    position relative
    min-height 100%

body
  margin 0 0 55px /* bottom = footer height */
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility

footer, .push
  height 2em

img
  max-width 100%

/* * *
00 BASIC TYPOGRAPHY  -------------------------------------------------------
* * */

a
  color #547ed3

.btn
  font-family roboto
  font-size 14px
  padding 11px 20px
  font-weight 500
  text-transform uppercase
  letter-spacing 1px
  -webkit-transition background .2s, color .2s ease-in-out
  transition background .2s, color .2s ease-in-out

  &.push-down
    margin-top 20px !important

  // default purple button
  &.btn-primary
    background-color darken(#a685bd, 55%)
    border 0

    &:hover
      background-color darken(#a685bd, 40%)
      -webkit-transition background .2s, color .2s ease-in-out
      transition background .2s, color .2s ease-in-out

h1,
h2,
h3,
h4,
h5,
h6
  font-family roboto

  &.clean
    margin 0 !important

h1
  color #333
  line-height 1.3
  font-size 32px
  font-weight 700

p
  line-height 1.75
  font-family roboto
  font-size 16px
  color #555
  margin-top 20px

  &.clean
    margin 0

  &.small
    font-size 14px
    line-height 1.75

ul
  line-height 1.75
  font-family roboto
  font-size 16px
  color #555
  margin 20px 0 0 40px

  li
    margin 10px 0

/* * *
01 HEADER & FOOTER ---------------------------------------------------------
* * */

.navbar
  background-color #fff
  opacity .4
  font-family roboto
  text-transform lowercase
  font-weight 700
  border-radius 0
  -moz-border-radius 0
  -webkit-border-radius 0
  border none
  margin-bottom 0

.navbar, .navbar-default
  min-height 80px

  .navbar-toggle
    margin-top 22px
    margin-bottom 25px

  li a
    color #bbb
    margin 0 !important
    padding 8px 20px
    -webkit-border-radius 20px
    -moz-border-radius 20px
    border-radius 20px
    margin 14px 15px 0 !important
    font-size 14px

    &:hover
      // important to override bootstrap styles
      background-color #f2f2f2 !important
      -webkit-transition background .1s, color .1s ease-in-out
      transition background .1s, color .1s ease-in-out
      color #111

.footer-signup
    border-top 3px solid #404286
    position fixed
    bottom 0
    width 100%
    background #fff
    z-index 1000

    .navbar-form
      margin 25px 0

  &.footerbutton
    position  absolute
    background #404286
    border-top-right-radius 3px
    border-top-left-radius 3px
    top  -42px
    right 3%
    font-size 18px
    font-family roboto
    color white
    padding 9px 15px 7px
    border  none
    cursor  pointer

  &.slide-content
    width 100%
    height 0px
    background-image url('/images/bg9.jpg')
    background-position 80% 50%
    background-repeat no-repeat
    background-size cover
    border none
    font-family roboto

    input[type=name], input[type=email]
      height 50px
      margin 3px 10px 0 0
      font-size 16px
      border none
      width 100%

    p
      color #fff
      margin-top 35px
      line-height 1.6
      font-size 18px

    button
      width 100%
      font-weight 500
      background #404286 !important

    .form-inline
      margin-top 35px

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)
      input[type=name], input[type=email]
        height 40px
        margin 3px 5px 0 0
        font-size 14px
        border none
      input[type=name]
        width 120px
      input[type=email]
        width 220px
      button
        width 110px
        height 40px
        font-size 14px
      p
        color #fff
        line-height 1.3
        font-size 14px

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width: 992px)
      input[type=name], input[type=email]
        height 50px
        margin 3px 10px 0 0
        font-size 18px
        border none
      input[type=name]
        width 170px
      input[type=email]
        width 260px
      button
        width 150px
        height 50px
        font-size 18px
      p
        line-height 1.6
        font-size 16px

    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px)
      input[type=name]
        width 210px
      input[type=email]
        width 350px
      button
        width 150px
      p
        line-height 1.6
        font-size 18px

.test-width
  width 200px

  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px)
    width 1000px

.navbar-brand img
  height 41px

footer
  position absolute
  left 0
  bottom 0
  width 100%
  background-color #fff
  height 55px
  bottom 0

  p
    font-size 13px
    margin-bottom 10px

/* * *
01 HOME --------------------------------------------------------------------
* * */

.podcast-hero
  margin 0
  height 310px
  background-image url('../images/raw-bg3.jpg')
  background-size cover
  background-position 90% 55%
  padding 50px 0 0

  .container
    position relative
    height 100%

  span.tagline
    font-style oblique
    font-family droid
    color #b0b0b6
    font-size 16px

    a
      color white
      border-bottom 1px solid darken(#b0b0b6, 30%)
      padding-bottom 1px

      &:hover
        text-decoration none

    &.two
      font-style normal
      margin-top 25px
      display block

      a
        border none
        padding 8px 16px
        border-radius 3px
        margin 0 5px

  .pod-logo
    width 130px
    height auto

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)
      width 150px

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width: 992px)
      width 180px

  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width 768px)
    height 340px
    padding 55px 0 0

  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width 992px)
    height 400px
    padding 80px 0 0

  /* Large devices (large desktops, 1200px and up) */
  @media screen and (min-width 1200px)
    height 500px
    padding 120px 0 0

  h1
    font-size 28px
    color white

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width 768px)
      font-size 38px

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width 992px)
      font-size 40px

    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width 1200px)
      font-size 48px

  p
    color darken(white, 25%)

  .sub-form
    margin 0

    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width 1200px)
      margin 20px 0

  &.small
    height 100px
    padding 16px 0
    margin 0

    .pod-logo
      width 100px
      height auto

      /* Medium devices (desktops, 992px and up) */
      @media screen and (min-width: 992px)
        width 140px

.latest-episode
  color white
  opacity .7
  font-size 13px
  text-transform uppercase
  letter-spacing 1px
  margin-top 17px

.podcast-play
  background-color #0f0e23
  color white
  height 80px
  padding 0 !important

  &.affix
    position static

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width: 992px)
      display block
      z-index 1111111
      position fixed
      top 0
      left 0
      right 0

  h1,h2,h3,h4,h5,h6,p
    margin 0

  .episode-info
    border 1px solid gray
    padding 0px 1px
    margin-bottom 8px
    margin-top 22px
    border-radius 3px
    span
      font-size 10px

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)
      span
        font-size 13px

  .progress-bar
    background-color #565564
    border-radius 20px 20px 20px 20px
    overflow hidden
    width 100%
    height 8px
    -webkit-box-shadow 0 1px 1px 0 rgba(0,0,0,0.2) inset
    box-shadow 0 1px 1px 0 rgba(0,0,0,0.2) inset

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)
      width 100%

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width: 992px)
      width 100%

    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px)
      width 100%

  span.play
    font-size 19px
    margin-top 25px
    padding 0
    display inline
    color white

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)
      font-size 32px
      margin-top 15px

    &:hover
      cursor pointer

  span.option
    font-size 14px
    font-weight 500
    letter-spacing 1px
    text-transform uppercase
    background-color red
    margin 0 !important
    padding 30px 20px
    display block
    transition background .2s, color .2s ease-in-out

    &:hover
      background #0f0e23
      color white
      cursor pointer
      transition background .2s, color .2s ease-in-out

.featured-area
  background #e9e8ef
  height auto
  padding-bottom 220px

  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px)
    height auto
    padding-bottom 210px

  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width: 992px)
    // height 645px
    height auto
    padding-bottom 210px

.spotlight-details
  padding-top 50px
  padding-bottom 40px
  display block

  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px)
    padding-top 70px
    padding-bottom 60px

  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width: 992px)
    padding-top 70px
    padding-bottom 60px

  h3
    margin 7px 0
    font-size 20px

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)
      font-size 28px

  p
    margin 0
    font-size 14px
    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)
      font-size 16px

  .secondary-ctas
    color #888
    a
      color #333
      &:hover
        color #777

  span.date
    font-style oblique
    font-family droid
    color darken(#b0b0b6, 20%)
    font-size 16px

  .btn-subtle
    background none
    color darken(#b0b0b6, 20%)
    margin 0 !important

    &:hover
      color darken(#b0b0b6, 65%)
      background none

  .transcript
    margin 20px 0

  #play-episode
    /* Small devices (tablets, 768px and up) */
    @media screen and (max-width: 768px)
      width 100%
      font-size 20px
      padding 15px

  ul.mobile-options
    text-align left
    list-style-type none
    margin 0
    font-size 14px

    a
      color blue

    li
      border-bottom 1px solid #ccc !important
      padding-bottom 10px

      &:last-child
        border none

.info-panel
  height 800px
  background url('/images/raw-bg9.jpg')
  background-size cover
  background-position 0% 100%
  border-radius 0px
  color white
  padding 15px 35px 15px
  border-right 1px solid #0f0e23

  a
    color white

  h4
    margin 20px 0 0
    padding 0

  p
    color #b5b2ba
    margin 0

  .where-to-listen
    margin 20px 0 0
    padding 0

    a
      text-decoration none
      &:hover
        text-decoration none

    li
      display block
      background lighten(#a9acc9, 35%)
      padding 6px 12px
      border-radius 3px
      color #2e3e5e
      font-size 16px
      transition background .2s ease-in-out

      &:hover
        background lighten(#a9acc9, 75%)
        transition background .2s ease-in-out


  .podcast-hosts
    padding 20px 0 40px
    margin 30px 0

    .host
      margin-top 20px

      img
        border-radius 50%
        width 80%

      i
        font-size 16px
        margin 5px 5px 0 0
        opacity .6

      .website
        display block
        font-size 12px
        margin-top 5px


.episode-list
  margin-top -217px

  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width: 992px)
    margin-top -213px

.episode-archive-list
  background #f2f2f2
  border-left 1px solid #0f0e23

.episode-archive
  margin 0

  a:hover
    text-decoration none

  .episode
    padding 24px 15px
    transition background .2s
    position relative
    border-bottom 1px solid #ddd
    border-right 1px solid #0f0e23
    border-top none
    height auto

    a
      color #333

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)

    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width: 992px)
      border-right 1px solid #fff

    &:hover
      background #ddd
      transition background .2s ease-in-out
      cursor pointer

      span.episode-title
        color lighten(#2e273d, 20%)
        transition color .2s

    span.episode-title, span.episode-description
      margin-top 0

    span.episode-date
      color #333
      opacity .5
      margin 0 0 3px 0
      display block
      font-size 15px

    span.episode-title
      font-size 22px
      margin 5px 0 3px 0
      display block
      color #3a3b47
      transition color .2s
      font-weight 500

    span.episode-description
      line-height 1.6
      font-family roboto
      font-size 14px
      color #555

      /* Medium devices (desktops, 992px and up) */
      @media screen and (min-width: 992px)
        font-size 14px

      /* Large devices (large desktops, 1200px and up) */
      @media screen and (min-width: 1200px)
        font-size 16px

.dark-bar
  padding 15px 25px !important
  margin 0
  border-radius 0
  text-transform uppercase
  font-size 14px
  background #0f0e23
  color white
  font-weight 500
  letter-spacing 1px
  min-height 50px

  border-bottom-left-radius 0px
  border-bottom-right-radius 0px

  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px)
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px

  a
    color white

    &:hover
      opacity .7

  &.two
    color white
    // background #666
    background #0f0e23
    padding 18px 30px 15px !important
    border-top-left-radius 0px
    border-top-right-radius 0px
    border-bottom-left-radius 0px
    border-bottom-right-radius 0px

    span.more
      opacity .85

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)
      border-top-left-radius 3px
      border-top-right-radius 3px


  .podcast-social
    display inline
    color white
    letter-spacing 1px
    font-weight 500
    font-size 12px
    position relative
    bottom 2px
    margin 0 auto

    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)
      font-size 14px
      margin auto
      float right

    li
      display inline

      a
        color white
        opacity 1

        &:hover
          opacity .7

  a
    &:hover
      text-decoration none


#transcript-modal
  z-index 22222222
  .modal-body
    padding 20px 40px 40px
  .modal-header
    border none



/* * *
05 MISC --------------------------------------------------------------------
* * */

.center-block
  display block
  margin 0 auto
  text-align center



/*
 * BOOTSTRAP AUTO-WRAP COLUMN FIX
 *
 *
 */

/*  Tablet  */
@media handheld, screen and (min-width: 768px)
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1)
    clear none

  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear left

/*  Medium Desktop  */
@media handheld, screen and (min-width: 992px)
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear none

  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1)
    clear left

/*  Large Desktop  */
@media handheld, screen and (min-width:1200px)
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear none

  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1)
    clear left
