<template name="episode">
	<div class="container transcription">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h1>Episode Details</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id impedit quis adipisci voluptate, exercitationem omnis esse, repellendus distinctio provident accusamus accusantium eius ipsam minus amet saepe nemo architecto suscipit, tenetur.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias obcaecati, consequuntur corrupti ea eos perferendis, ab. Non, fugit iste odit enim dolorum, id nihil itaque veritatis rerum eligendi animi eum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et nulla obcaecati earum assumenda eligendi neque repudiandae distinctio error quod quo blanditiis eius, voluptatibus ad cumque incidunt! Maxime, ullam accusamus dolorum.</p>
			</div>
		</div>
	</div>
</template>