<template name="episode">
	<div class="podcast-hero small">	
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 center-block">
					<img src="/images/podlogo7.png" class="pod-logo" alt="">
				</div>
			</div>
		</div>
	</div>
	
	<div class="podcast-play">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
					<span class="play pull-left"><i class="fa fa-play"></i></span>
					<div class="progress-bar"></div>
				</div>
				<div class="hidden-xs col-sm-3 col-md-3 col-lg-2">
					<span class="option pull-right"><i class="fa fa-download"></i>&nbsp; Download</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container transcription">
		<div class="row">
			<div class="col-md-9">
				<span class="date">Nov 29, 2014</span>
				<h2>Episode 42: Lorem ipsum dolor sit amet</h2>

				<p><strong>Josh:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id impedit quis adipisci voluptate, exercitationem omnis esse, repellendus distinctio provident accusamus accusantium eius ipsam minus amet saepe nemo architecto suscipit, tenetur.</p>

				<p><strong>Ry:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias obcaecati, consequuntur corrupti ea eos perferendis, ab. Non, fugit iste odit enim dolorum, id nihil itaque veritatis rerum eligendi animi eum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et nulla obcaecati earum assumenda eligendi neque repudiandae distinctio error quod quo blanditiis eius, voluptatibus ad cumque incidunt! Maxime, ullam accusamus dolorum.</p>

				<p><strong>Josh:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis culpa beatae, deserunt quos quasi consequatur assumenda ducimus! Enim libero perferendis odio corporis ipsa, dolorum, voluptas inventore incidunt, quos molestias ad!</p>

				<p><strong>Josh:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eaque alias, reiciendis totam repellendus ducimus dolorum porro veritatis sunt quis? Placeat sequi reprehenderit maxime facere beatae quasi. Pariatur provident, blanditiis.</p>

				<p><strong>Ry:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nesciunt, minima, vitae, culpa aliquam voluptatibus nemo dicta totam quaerat et eaque in corporis perspiciatis, esse adipisci suscipit natus fugit veniam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quasi aut fugit omnis obcaecati inventore, adipisci dolore labore quia sint. Tenetur nulla minima adipisci dignissimos, nobis modi dolore doloribus voluptates.</p>

				<p><strong>Josh:</strong> Omnis qui, ad. Ea ratione nihil consectetur fugiat sapiente itaque cum rerum iste quia, enim voluptas dicta voluptatem blanditiis quam minima animi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

				<p><strong>Josh:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id impedit quis adipisci voluptate, exercitationem omnis esse, repellendus distinctio provident accusamus accusantium eius ipsam minus amet saepe nemo architecto suscipit, tenetur.</p>

				<p><strong>Ry:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias obcaecati, consequuntur corrupti ea eos perferendis, ab. Non, fugit iste odit enim dolorum, id nihil itaque veritatis rerum eligendi animi eum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et nulla obcaecati earum assumenda eligendi neque repudiandae distinctio error quod quo blanditiis eius, voluptatibus ad cumque incidunt! Maxime, ullam accusamus dolorum.</p>

				<p><strong>Josh:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis culpa beatae, deserunt quos quasi consequatur assumenda ducimus! Enim libero perferendis odio corporis ipsa, dolorum, voluptas inventore incidunt, quos molestias ad!</p>

				<p><strong>Josh:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eaque alias, reiciendis totam repellendus ducimus dolorum porro veritatis sunt quis? Placeat sequi reprehenderit maxime facere beatae quasi. Pariatur provident, blanditiis.</p>

				<p><strong>Ry:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nesciunt, minima, vitae, culpa aliquam voluptatibus nemo dicta totam quaerat et eaque in corporis perspiciatis, esse adipisci suscipit natus fugit veniam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quasi aut fugit omnis obcaecati inventore, adipisci dolore labore quia sint. Tenetur nulla minima adipisci dignissimos, nobis modi dolore doloribus voluptates.</p>

				<p><strong>Josh:</strong> Omnis qui, ad. Ea ratione nihil consectetur fugiat sapiente itaque cum rerum iste quia, enim voluptas dicta voluptatem blanditiis quam minima animi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

				<p><strong>Josh:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id impedit quis adipisci voluptate, exercitationem omnis esse, repellendus distinctio provident accusamus accusantium eius ipsam minus amet saepe nemo architecto suscipit, tenetur.</p>

				<p><strong>Ry:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias obcaecati, consequuntur corrupti ea eos perferendis, ab. Non, fugit iste odit enim dolorum, id nihil itaque veritatis rerum eligendi animi eum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et nulla obcaecati earum assumenda eligendi neque repudiandae distinctio error quod quo blanditiis eius, voluptatibus ad cumque incidunt! Maxime, ullam accusamus dolorum.</p>

				<p><strong>Josh:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis culpa beatae, deserunt quos quasi consequatur assumenda ducimus! Enim libero perferendis odio corporis ipsa, dolorum, voluptas inventore incidunt, quos molestias ad!</p>

				<p><strong>Josh:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eaque alias, reiciendis totam repellendus ducimus dolorum porro veritatis sunt quis? Placeat sequi reprehenderit maxime facere beatae quasi. Pariatur provident, blanditiis.</p>

				<p><strong>Ry:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nesciunt, minima, vitae, culpa aliquam voluptatibus nemo dicta totam quaerat et eaque in corporis perspiciatis, esse adipisci suscipit natus fugit veniam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quasi aut fugit omnis obcaecati inventore, adipisci dolore labore quia sint. Tenetur nulla minima adipisci dignissimos, nobis modi dolore doloribus voluptates.</p>

				<p><strong>Josh:</strong> Omnis qui, ad. Ea ratione nihil consectetur fugiat sapiente itaque cum rerum iste quia, enim voluptas dicta voluptatem blanditiis quam minima animi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
			</div>

			<div class="col-md-3">
				<ul class="episode-options">
					<li class="itunes"><a href="#"><i class="fa fa-apple fa-fw"></i>&nbsp; iTunes</a></li>
					<li class="soundcloud"><a href="#"><i class="fa fa-soundcloud fa-fw"></i>&nbsp; Soundcloud</a></li>
					<li class="stitcher"><a href="#"><i class="fa fa-play-circle fa-fw"></i>&nbsp; Stitcher</a></li>
				</ul>

				<!-- <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim sequi pariatur autem veritatis debitis quod repudiandae expedita, unde aliquid, deserunt maxime optio voluptatem odio numquam in! Enim officiis, consectetur officia.</p> -->
			</div>
		</div>
	</div>
</template>