<template name="podcastPlayer">
  <div class="pcast-player">
    <div class="pcast-player-controls">
      <button class="pcast-play"><i class="fa fa-play"></i><span>Play</span></button>
      <button class="pcast-pause"><i class="fa fa-pause"></i><span>Pause</span></button>
      <button class="pcast-rewind"><i class="fa fa-fast-backward"></i><span>Rewind</span></button>
      <span class="pcast-currenttime pcast-time">00:00</span>
      <progress class="pcast-progress" value="0"></progress>
      <span class="pcast-duration pcast-time">00:00</span>
      <button class="pcast-speed">1x</button>
      <button class="pcast-mute"><i class="fa fa-volume-up"></i><span>Mute/Unmute</span></button>
    </div>
    <audio id="audio-player" style="width: 100%;" src="{{download}}">
      Your browser does not support the audio element.
    </audio>
  </div>
</template>