<template name="about">
	<div class="container-fluid learn">
		<div class="row hero">
			<div class="col-md-8 col-md-offset-2">
				<h1>A place to learn Meteor.js</h1>
			</div>
		</div>
	</div>

	<div class="container about-meteorclub">
		<div class="row section">
			<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
				<img src="/images/meteorshower3.png" style="width: 98%;" alt="">
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<h3>About Meteor Club</h3>
				<p>Meteor Club was started as a way to help share knowledge and teach people best practices around building Meteor apps. The creator, Josh Owens, has a deep love of the platform and uses Meteor Club as central place to bring people together to learn.</p>

				<p>Josh has drawn upon his experience in the Rails community to identify things that work and don’t work in helping people learn. That's why he blogs weekly about Meteor, teaches classes, and runs a monthly question and answer session for anyone to tune in on.</p>

				<div class="social-links">
					<a href="http://www.twitter.com/themeteorclub" target="_blank"><i class="fa fa-2x fa-twitter"></i></a> &nbsp; 
					<a href="https://www.youtube.com/user/queso98/videos"><i class="fa fa-2x fa-youtube-play"></i></a> &nbsp; 
					<a href="https://github.com/queso"><i class="fa fa-2x fa-github"></i></a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid what-is-meteor">
		<div class="row section">
			<div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-1 col-md-6 col-md-offset-1">
				<h3>What is Meteor?</h3>
				<p>Meteor is a complete open source platform for building real-time web and mobile applications using pure Javascript. Meteor uses a set of core principles to drive this groundbreaking platform to new heights. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, mollitia, enim? Officia, nesciunt quo atque cupiditate hic, dignissimos itaque praesentium.</p>
			</div>

			<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4">
				<p>Some features include:</p>
				<span class="meteor-feature">Data on the Wire</span>
				<span class="meteor-feature">One Language </span>
				<span class="meteor-feature">Database Everywhere</span>
				<span class="meteor-feature">Latency Compensation</span>
				<span class="meteor-feature">Full Stack Reactivity</span>
				<span class="meteor-feature">Embrace the Ecosystem</span>
				<span class="meteor-feature">Simplicity Equals Productivity</span>
			</div>
		</div>
	</div>

	<div class="container about-josh">
		<div class="row section">
			<div class="row">
				<div class="col-sm-4 col-md-3 center-block">
					<img src="/images/josh.png" class="josh-stamp" alt="">
				</div>

				<div class="col-sm-8 col-md-9">
					<h2>About Josh</h2>
					<p class="clean">I'm Josh Owens, proprietor of <a href="http://crater.io" target="_blank">Crater.io</a>, host of <a href="http://www.meteorpodcast.com" target="_blank">Meteor Podcast</a>, and open source czar that helped create over 10 Meteor packages and 40 apps in 12 months. I'm also the author of <a href="http://www.testingmeteor.com">Testing with Meteor</a> and part of the <a href="http://differential.com/blog/what-is-velocity" target="_blank">Velocity</a> core team, helping to make testing more practical with Meteor.</p>

					<p>When I'm not writing, podcasting, or teaching then you can find me running the Cincinnati Meteor meetup or helping people out with Meteor.js over Airpair.</p>

				</div>
			</div>
		</div>
	</div>

</template>