<template name="home">
	<div class="podcast-hero">	
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 center-block">
					<img src="/images/podlogo7.png" class="pod-logo" alt="">
					<h1 style="font-weight: 300;">A weekly podcast about Meteor.js.</h1>
					<span class="tagline hidden-xs">Brought to you by <a href="#">Josh Owens</a>, <a href="#">Ry Walker</a>, and <a href="#">Meteor Club</a>.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="holder" style="height: 80px;">
		<div class="podcast-play">
			<div class="container">
				<div class="row">
					<div class="col-xs-1 col-sm-1 col-md-1">
						<span class="play pull-left"><i class="fa fa-play"></i></span>
					</div>
					<div class="col-xs-11 col-sm-11 col-md-11">
						<div class="row episode-info">
							<div class="col-lg-12">
								<div class="latest-episode">
									<span id="episode-title" class="pull-left"><strong>Episode 42:</strong> Node Forking Edition</span>
									
									<span id="time-remaining" class="hidden-xs pull-right">0:00 / 42:53</span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="progress-bar"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="featured-area">
		{{> featuredArea featured}}
	</div>

	<div class="container episode-list">
		<div class="row">
			<div class="col-md-12 dark-bar two">
				<div class="row">
					<div class="hidden-xs col-sm-3 col-md-4">
						<span class="more">Latest Episodes</span>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-8">
						<div class="pull-right">
							<ul class="podcast-social">
								<li><a href="#"><i class="fa fa-apple fa-fw"></i>&nbsp;iTunes</a>  &nbsp;/&nbsp;</li>
								<li><a href="#"><i class="fa fa-soundcloud fa-fw"></i>&nbsp; Soundcloud</a>  &nbsp;/&nbsp;</li>
								<li><a href="#"><i class="fa fa-play-circle fa-fw"></i>&nbsp;Stitcher</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- episode list -->
		<div class="row">
			<div class="col-md-7 episode-archive">
				{{#each episodes}}
					<div class="row episode" id="{{_id}}">
	
						<div class="col-sm-12 col-md-12">
							<span class="episode-plays"><!-- <i class="fa fa-microphone"></i>&nbsp;457 plays &nbsp;|&nbsp;  -->{{date}}</span>
							<span class="episode-month">{{title}}</span>
							<span class="episode-description">{{createExcerpt description 145}}</span>
						</div>
						<div class="clearfix"></div>
					</div>
				{{/each}}
			</div>

			<div class="col-md-5 hidden-sm hidden-xs">
				<div class="row">
					<div class="col-md-12 info-panel">
						<h4 style="margin: 20px 0 0 0;">About the Podcast</h4>
						<p style="margin-top: 10px;">Meteor Podcast takes an in-depth look at the Meteor.js framework. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repellat iure ipsum delectus consectetur repudiandae excepturi, a ut sit fugit nam eos sed doloribus odit beatae nisi, quos incidunt.</p>

						<div class="podcast-hosts">
							<div class="row host">
								<div class="col-sm-6 col-md-6 center-block">
									<img src="/images/josh.png" alt="">
									<h4>Josh Owens</h4>
									<i class="fa fa-twitter"></i> <i class="fa fa-stack-overflow"></i> <i class="fa fa-github"></i>
								</div>
								<div class="col-sm-6 col-md-6 center-block">
									<img src="/images/ry.png" alt="">
									<h4>Ry Walker</h4>
									<i class="fa fa-twitter"></i> <i class="fa fa-stack-overflow"></i> <i class="fa fa-github"></i>
								</div>
							</div>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint sequi, fugit voluptas aliquid voluptatum commodi aliquam, dolore voluptatibus omnis ipsum unde inventore. Voluptates sint harum, praesentium nihil ad nulla aliquid.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 dark-bar">
				<a class="older pull-left" href="#"><i class="fa fa-angle-left fa-fw"></i>&nbsp;Older</a> 

				<a class="newer pull-right" href="#">Newer <i class="fa fa-angle-right fa-fw"></i></a>
			</div>
		</div>
	</div>

	<div class="modal fade" id="transcript-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	      </div>
	      <div class="modal-body">
	      	<h2>Episode 42: Node Forking Edition</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam facilis aspernatur temporibus numquam sunt, inventore modi quis eos fugiat aliquam, necessitatibus a illo voluptate veniam. Inventore nisi alias corrupti, cupiditate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ad cupiditate, nihil aut error aliquid autem repudiandae. Sunt laboriosam culpa, vel voluptate dolore repellat distinctio ad. Ducimus nesciunt, rem necessitatibus.</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aspernatur libero consequuntur. Nobis, cumque ea, obcaecati dolorum aliquam eligendi pariatur facere, atque laborum deserunt mollitia voluptatem, illum veritatis nisi dolore?</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A hic sit neque vel nulla nisi illum consequatur ipsam, dolore non molestias, iure sed soluta architecto ex inventore facilis doloribus quasi.</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed pariatur inventore quia exercitationem, odio consequuntur, mollitia, tempore rerum, excepturi illum rem perferendis impedit minus dignissimos officia dolores necessitatibus. Assumenda, nam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ut aperiam, hic. Et nisi inventore, odio eius obcaecati, eligendi necessitatibus provident rerum sequi omnis, similique laborum. Veritatis nam expedita, distinctio!</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam explicabo beatae repellendus neque impedit ducimus totam adipisci perspiciatis amet autem distinctio suscipit sunt, inventore, nesciunt provident commodi dolore vero accusamus.</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi assumenda repudiandae perferendis aspernatur totam ad, temporibus obcaecati, eos aperiam odio ullam similique, dolorem voluptate. Beatae eius dolores animi mollitia eum?</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aspernatur libero consequuntur. Nobis, cumque ea, obcaecati dolorum aliquam eligendi pariatur facere, atque laborum deserunt mollitia voluptatem, illum veritatis nisi dolore?</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A hic sit neque vel nulla nisi illum consequatur ipsam, dolore non molestias, iure sed soluta architecto ex inventore facilis doloribus quasi.</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed pariatur inventore quia exercitationem, odio consequuntur, mollitia, tempore rerum, excepturi illum rem perferendis impedit minus dignissimos officia dolores necessitatibus. Assumenda, nam?</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam explicabo beatae repellendus neque impedit ducimus totam adipisci perspiciatis amet autem distinctio suscipit sunt, inventore, nesciunt provident commodi dolore vero accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptas, dolorum deserunt cum atque incidunt iste recusandae. Saepe beatae quisquam dolorem soluta! Molestias provident labore nostrum sed perferendis optio tenetur.</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi assumenda repudiandae perferendis aspernatur totam ad, temporibus obcaecati, eos aperiam odio ullam similique, dolorem voluptate. Beatae eius dolores animi mollitia eum?</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aspernatur libero consequuntur. Nobis, cumque ea, obcaecati dolorum aliquam eligendi pariatur facere, atque laborum deserunt mollitia voluptatem, illum veritatis nisi dolore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, eaque, alias! Excepturi, culpa enim atque accusantium a. Hic eos nulla placeat, assumenda quae earum nisi perferendis culpa in vero asperiores.</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A hic sit neque vel nulla nisi illum consequatur ipsam, dolore non molestias, iure sed soluta architecto ex inventore facilis doloribus quasi.</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed pariatur inventore quia exercitationem, odio consequuntur, mollitia, tempore rerum, excepturi illum rem perferendis impedit minus dignissimos officia dolores necessitatibus. Assumenda, nam?</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam explicabo beatae repellendus neque impedit ducimus totam adipisci perspiciatis amet autem distinctio suscipit sunt, inventore, nesciunt provident commodi dolore vero accusamus.</p>

	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi assumenda repudiandae perferendis aspernatur totam ad, temporibus obcaecati, eos aperiam odio ullam similique, dolorem voluptate. Beatae eius dolores animi mollitia eum?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</template>

<template name="featuredArea">
	<div class="container spotlight-details">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" style="text-align: center;">
				<span class="date">{{date}}</span>
				<h3>{{title}}</h3>
				<p>{{description}}</p>

				<a href="#" class="transcript btn btn-primary"><i class="fa fa-play-circle"></i>&nbsp; Play Episode</a> <br>

				<a class="transcript btn btn-subtle" data-toggle="modal" data-target="#transcript-modal"><i class="fa fa-download"></i>&nbsp; Download</a> <a class="transcript btn btn-subtle" data-toggle="modal" data-target="#transcript-modal"><i class="fa fa-apple"></i>&nbsp; iTunes</a> <a class="transcript btn btn-subtle" data-toggle="modal" data-target="#transcript-modal"><i class="fa fa-file-text-o"></i>&nbsp; Transcript</a>
			</div>
		</div>

	</div>
</template>
