<template name="home">

  <!-- hero -->
  <div class="podcast-hero">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 center-block">
          <a href="/">
          <img src="/images/podcast_logo.png" class="pod-logo" alt="">
          </a>
          <h1 style="font-weight: 300;">A weekly podcast about Meteor.js.</h1>
          <span class="tagline hidden-xs">Brought to you by <a
              href="http://joshowens.me">Josh Owens</a>, <a href="https://medium.com/@benstr">Ben Strahan</a>, and <a href="http://meteorjs.club">Meteor Club</a>.</span>
        </div>
      </div>
    </div>
  </div>

  <!-- play bar -->
  <div class="holder" style="height: 80px;">
    <div class="podcast-play">
      <div class="container">
        <div class="row">
            <div class="row episode-info">
                {{#with featured}}
                  <div class="podcast-player">
                    <button class="pcast-speed">1x</button>
                    <audio id="audio-player" style="width: 90%; float: left;" src="{{statelessDownload}}" controls>
                      Your browser does not support the audio element.
                    </audio>
                  </div>
                {{/with}}
            </div>

        </div>
      </div>
    </div>
  </div>

  <!-- clicked episode -->
  <div class="featured-area">
    {{> featuredEpisode featured}}
  </div>


  <div class="container episode-list">
    <div class="row">
      <div class="col-md-12 dark-bar two">
        <div class="row">

          <div class="col-xs-12 col-sm-3 col-md-4">
            <span class="more">Latest Episodes</span>
          </div>

          <div class="col-xs-12 col-sm-9">
            <!-- only shows up on tablets and smaller -->
            <ul class="podcast-social visible-sm">
              <li><a href="#"><i class="fa fa-apple fa-fw"></i>&nbsp;iTunes</a>  &nbsp;/&nbsp;</li>
              <li><a href="#"><i class="fa fa-soundcloud fa-fw"></i>&nbsp; Soundcloud</a>  &nbsp;/&nbsp;</li>
              <li><a href="#"><i class="fa fa-play-circle fa-fw"></i>&nbsp;Stitcher</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row episode-archive-list">
      <div class="col-md-5 hidden-sm hidden-xs absolute-background"></div>
      <!-- episode loop -->
      <div class="col-md-7 episode-archive">
        {{#each episodes}}
          {{> episode}}
        {{/each}}
      </div>

      <div class="col-md-5 hidden-sm hidden-xs">
        <div class="row">
          <div class="col-md-12 info-panel">

            <!-- links out -->
            <h4 style="margin: 20px 0 0 0;">Around the Web</h4>
            <div class="row">
              <div class="col-md-6">
                <ul class="where-to-listen">
                  <a href="https://itunes.apple.com/us/podcast/id984131621&mt=2"><li><i class="fa fa-fw fa-apple"></i> iTunes</li></a>
                  <a href="http://simplecast.fm/podcasts/1108/rss"><li><i class="fa fa-fw fa-rss"></i> RSS Feed</li></a>
                  <!-- <a href="#"><li><i class="fa fa-fw fa-soundcloud"></i> Soundcloud</li></a> -->
                  <!-- <a href="#"><li><i class="fa fa-fw fa-sliders"></i> Stitcher</li></a> -->
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="where-to-listen">
                  <a href="https://twitter.com/meteorjsclub"><li><i class="fa fa-fw fa-twitter"></i> Twitter</li></a>
                  <a href="https://meteorjs.club/"><li><i class="fa fa-fw fa-rocket"></i> Meteor Club</li></a>
                </ul>
              </div>
            </div>

            <!-- about the podcast -->
            <div class="row">
              <div class="col-md-12">
                <h4 style="margin: 40px 0 0 0;">About the Podcast</h4>
                <p style="margin-top: 10px;">Meteor Club Podcast is a weekly round-table discussion about all things Meteor. Join hosts Josh Owens and Ben Strahan as they speak with guests from around the community. <a href="http://meteorjs.club">Click here</a> to learn more about and to join Meteor Club.</p>

                <div class="podcast-hosts">
                  <div class="row host">
                    <div class="col-sm-6 col-md-6 center-block">
                      <img src="/images/josh.png" alt="Josh Owens">
                      <h4>Josh Owens</h4>
                      <a href="http://joshowens.me" class="website">joshowens.me</a>
                      <a href="http://twitter.com/joshowens"><i class="fa fa-fw fa-twitter"></i></a> <a href="http://stackoverflow.com/users/3027494/josh-owens"><i class="fa fa-fw fa-stack-overflow"></i></a> <a href="https://github.com/queso"><i class="fa fa-fw fa-github"></i></a>
                    </div>
                    <div class="col-sm-6 col-md-6 center-block">
                      <img src="/images/benstr.jpeg" alt="Ben Strahan">
                      <h4>Ben Strahan</h4>
                      <a href="https://medium.com/@benstr" class="website">medium.com/@benstr</a>
                      <a href="http://twitter.com/benstr"><i class="fa fa-fw fa-twitter"></i></a> <a href="http://stackoverflow.com/users/2883366/benstr"><i class="fa fa-fw fa-stack-overflow"></i></a> <a href="https://github.com/benstr"><i class="fa fa-fw fa-github"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <!-- older and newer episode pages -->
    <div class="row">
      <div class="col-md-12 dark-bar">
        <a class="older pull-left" href="#"><i class="fa fa-angle-left fa-fw"></i>&nbsp;Older</a>

        <!-- need to hide this on first page of episodes -->
        <a class="newer pull-right" href="#">Newer <i class="fa fa-angle-right fa-fw"></i></a>
      </div>
    </div>

  </div>


</template>
