
<template name="opensource">
	<div class="hero two opensource">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<h2 class="clean">shareit</h2>
					<p>A meteorite package that makes social sharing easy</p>

					<span class="version">0.0.1</span>

					<a href="" class="btn btn-primary btn-lg"><i class="fa fa-github"></i>&nbsp; View on Github</a> <a href="" class="btn btn-default btn-lg"><i class="fa fa-download"></i>&nbsp; Download ZIP</a>
				</div>
				<div class="col-md-4 col-lg-4">
					<h4>Contributors</h4>
					<p>Josh Owens, Ry Walker</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container about-package">
		<div class="row">

			<!-- package sidebar nav -->
			<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
				<ul class="package-nav">
					<li class="active"><a href="#">Documentation</a></li>
					<li><a href="#">Changelog</a></li>
				</ul>
			</div>

			<!-- package info -->
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<h3>Share It</h3>
				<p>We've built social sharing buttons a few times and decided it was time to extract it to a package! The goal of this package is to do a few things:</p>

				<p>
					<ul>
						<li>Render proper OG and Twitter meta tags</li>
						<li>Support social sharing buttons with bootstrap-3 and font-awesome</li>
						<li>Expand to support other social platforms besides just twitter &amp; facebook, in a configurable way</li>
					</ul>
				</p>

				<h3>Usage</h3>
				<p>In your template insert the following to get all social media buttons:</p>

				<p>shareit</p>
			</div>
		</div>
	</div>
</template>