<template name="testing">

<div class="container-fluid learn">
	<div class="row hero one">
		<div class="col-md-8 col-md-offset-2">
			<h1>What if you could write a test suite for Meteor.js app?</h1>
		</div>
	</div>
</div>

<div class="container learn">
	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>Announcing the Testing Meteor.js class.</h2>
			<p>Testing your web apps isn't new, but it is brand new for the Meteor.js platform. What if you could learn from the people that built the hot-off-the-presses Velocity framework?</p>

			<p>Introducing the Testing with Meteor.js class. This is your best option to get up to speed with real-world examples of how to build your test suite using Meteor and Velocity.</p>

			<div class="well">
				<i class="fa fa-3x fa-rocket"></i>
				<p><strong>Testing Meteor.js</strong> is a comprehensive, multi-session online class that walks you through building tests for a Meteor.js app in just 8 hours.</p>
			</div>

		</div>
	</div>

	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>Not sure how to get started with Velocity?</h2>
			<p>Velocity is brand new and people are just getting started with it. There aren't a ton of blog posts out yet, and most of those are already out of date. Where do you turn to learn this stuff? There are some quick examples in various frameworks based on the leaderboard example app, but it just doesn't go deep enough yet.</p>

		</div>

	</div>

	<!-- <div class="row section testimonials"> -->
	<!-- 	<div class="row"> -->
	<!-- 		<div class="col-md-12"> -->
	<!-- 			<h3>Here's what my students are saying about Mastering Meteor.js:</h3> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!-- 	<div class="row"> -->
	<!-- 		<div class="col-md-4"> -->
	<!-- 			<div class="testimonial"> -->
	<!-- 				<p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; The ability to see how the code was developed, in a real world, step-by-step process, combined with the ability to play with that code and have it as a reference makes [the class] great resource for a long time to come.</p> -->
	<!-- 			</div> -->
	<!-- 		</div> -->

	<!-- 		<div class="col-md-4"> -->
	<!-- 			<div class="testimonial"> -->
	<!-- 				<p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; I liked the real-world view of application development, with references to the docs, the source of packages, and stack overflow. I personally went over the code we wrote in class and rewrote it, which I found helpful.</p> -->
	<!-- 			</div> -->
	<!-- 		</div> -->

	<!-- 		<div class="col-md-4"> -->
	<!-- 			<div class="testimonial"> -->
	<!-- 				<p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; I definitely learned a good deal about building an application on the server side of Meteor, which was the part of Meteor I was struggling with. I especially liked your approach of handling data in the backend, something I didn't really consider before.</p> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!-- </div> -->

	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>Learn from the people building the test frameworks</h2>
			<p>Get the advice and knowledge we wish we could have paid for a year ago, before we started our testing journey. Learn the ins and outs of testing, which frameworks make sense for the types of tests you need, and what types of tests you should have for your app. There will also be a hands-on session where you will use your skills with our guidance.</p>

		</div>
	</div>

	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>So what will you learn in the class?</h2>

			<p>This comprehensive course is designed to teach you how to test a meteor app from the ground up. Follow along in a fish-bowl style pairing session where you get to listen and watch as the instructors build a test suite for an existing app. Learn by asking questions and understanding concepts and then dive into home. Some of the concepts we cover are:</p>

			<ul>
				<p>Specifically, you will learn how to:</p>
				<li>The Fundamentals of Testing</li>
				<li>Test Doubles: Mocks, Stubs, Spies, and Fakes</li>
				<li>Writing Fixtures</li>
				<li>Velocity, Frameworks &amp; Plugins, and how to use them</li>
				<li>Testing Meteor Best Practices</li>
				<li>How to Test Packages</li>
				<li>Continuous Integration</li>
				<li>and more!</li>
			</ul>

			<p>If you're tired of browsing the web for tutorials or reading through countless Stack Overflow posts to find the exact answer you need, then it's time to start mastering meteor testing.</p>
		</div>
	</div>

	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>Get up to speed with testing Meteor in a mere hours</h2>
			<p>You want test coverage, and you want it now. Join this online class to get an intimate setting to learn and ask questions about Meteor.js and testing. We are going to keep class sizes small so people can feel comfortable stopping us and asking questions.</p>

			<div class="well">
				<i class="fa fa-3x fa-rocket"></i>
				<p>You will walk away from this class understanding the core concepts of Testing and Velocity and how to put them to use <strong>building a test suite for your own Meteor app</strong>.</p>
			</div>

			<p>My goal isn't just to teach you how to test one part of your Meteor app. We want to give you the tools and know-how to build <em>hundreds</em> of tests. This is your chance to gain practical real-world knowledge of Testing Meteor.js.</p>
		</div>
	</div>

	<div class="row section whoami">
		<div class="col-md-8 col-md-offset-2">
      <h2>Who am we, anyway?</h2>
    </div>
		<div class="col-sm-3 col-md-3 center-block">
			<img src="/images/josh.png" class="josh-stamp" alt="">
			<img src="/images/sam.jpg" class="img-circle josh-stamp" alt="">
		</div>

		<div class="col-sm-9 col-md-9">
			<h2>Josh Owens</h2>
			<p class="clean">Josh Owens, is proprietor of <a href="http://crater.io" target="_blank">Crater.io</a>, host of <a href="http://www.meteorpodcast.com" target="_blank">Meteor Podcast</a>, and open source czar that helped create over 10 Meteor packages and 40 apps in 12 months. He is a technical editor for the Meteor Testing Manual and part of the <a href="http://velocity.meteor.com">Velocity</a> core team, helping to make testing more practical with Meteor.</p>

			<p>When he's not writing, podcasting, or teaching then you can find me running the Cincinnati Meteor meetup or helping people out with Meteor.js over Airpair.</p>
		</div>
		<div class="col-sm-9 col-md-9">
			<h2>Sam Hatoum</h2>
			<p class="clean">Sam is the founding architect behind Velocity, the official testing solution for Meteor 1.0. He is also the author of RTD, the first fully featured testing framework for Meteor which sported unit and acceptance using both Jasmine and Mocha, with end-to-end code coverage, CucumberJS and continuous integration support. Sam has talked about Velocity and about RTD at two Meteor dev-shops and is an active contributor to the community.</p>
		</div>
	</div>

	<div class="row section">
		<div class="col-md-8 col-md-offset-2">
			<h2>Space is limited.</h2>
			<p>Now is the time to quit wishing you had the time or resources to learn how to test Meteor and take this opportunity to level up your testing skills! In designing this course we were determined to create a lean timeline packed with the information you needed to hit the ground coding.</p> 

			<p>We guarantee this will be a hands-on experience where you will learn and have the opportunity to ask the questions that matter to you, or your money back. <strong class="love">That’s right, love it or get your money back.</strong> There’s no risk except for missing out on the next session.</p>

			<h3>With only ten seats available on a first-come/first-serve basis, you won’t want to wait. The tuition for the class and all the focused attention you get is <strong>only $899</strong>.</h3>

			<ul>
				<p>You will also receive:</p>
				<li>8 hours of interactive discussion and instruction using Google hangout</li>
				<li>A recording of your live class so you can refer back to it in the future</li>
				<li>Access to the Github repo that has the tests we built in class</li>
				<li>A FREE copy of The Meteor Testing Manual book by Sam Hatoum</li>
			</ul>
		</div>
	</div>

	<div class="row section" style="margin-bottom: 130px;">
		<div class="col-md-8 col-md-offset-2">
			<h2>Alright, I want in!</h2>
			<p><strong>Our next class:</strong> 2 sessions at 4 hours each. The next sessions take place January 19th and 20th from 1pm-5pm EDT.</p>

			<p>To secure your spot, just add your email and click the button. Let's make a little meteor magic together.</p>

		</div>
	</div>
</div>

<div class="footer-signup">
	<div class="footerbutton">Ready to Test Meteor? &nbsp; <i class="fa fa-angle-down"></i></div>
    <div class="slide-content">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4">
	    			<p style="line-height: 1.7;"><i class="fa fa-rocket"></i>&nbsp; <strong>Start Testing Meteor.js today.</strong><br> Enter your info to the right to reserve your spot in the $899 class.</p>
	    		</div>
				<div class="col-md-8">
					<form class="form-inline" role="search">
						<div class="form-group">
						  <label class="sr-only" for="exampleInputPassword2">Name</label>
						  <input type="name" class="form-control" name="fullName" required id="exampleInputname2" placeholder="joe developer">
						</div>
						<div class="form-group">
						  <label class="sr-only" for="exampleInputEmail2">Email address</label>
						  <input type="email" class="form-control" name="email" required id="exampleInputEmail2" placeholder="joe.developer@hotstartup.com">
						</div>
						<input type="hidden" name="referrer" id="referrer">
						<input type="hidden" name="classType" id="classType" value="testing">
						<button type="submit" class="btn btn-primary">Sign Up!</button>
					</form>
				</div>
    		</div>
	    </div>
    </div>
</div>
</template>
